/*
    CSS file for CAR DETAILS
*/
@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');
:root {
    --font-sansita-one: 'Sansita One', sans-serif;
    --primary-color: #02775a;
    --secondary-color: #27db9f;
}

.car-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.car-imgDETAILS {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-title-detail {
    font-family: var(--font-sansita-one);
    font-size: 2rem;
    margin-top: 1rem;
}

.car-detail-text {
    font-family: var(--font-sansita-one);
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #333;
}

.button-container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.rent-buttonCAR, .back-buttonCAR {
    margin-top: 10px;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 200px; 
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}
  
.rent-buttonCAR:hover, .back-buttonCAR:hover {
    background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}

.reviews-section {
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.review-list {
    margin-top: 20px;
}

.review-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.review-text {
    font-size: 1.2rem;
    color: #333;
}

.review-meta {
    font-size: 0.9rem;
    color: #888;
    margin-top: 10px;
    display: block;
    font-family: var(--font-sansita-one);
}

.no-reviews {
    font-size: 1rem;
    color: #666;
}

.review-textarea {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
    resize: vertical;
}

.post-review-button {
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.post-review-button:hover {
    background-image: linear-gradient(to right, var(--secondary-color), var(--primary-color));
}